.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: 100%;

  animation: fade-in 500ms forwards ease;
}

@keyframes fade-in {
  from {
    transform: translateY(15px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
}
